
:root {

  /*-----------------------------------*\
    #COLORES
  \*-----------------------------------*/
  --GRIS: #000000;
  --BLANCO: #ffffff;
  --ROJO1: #cc0000;
  --ROJO2: #620000;

  /*-----------------------------------*\
    #TIPOGRAFÍAS
  \*-----------------------------------*/

  background-color: rgb(21, 21, 21);

  /* Tipografía 1  */
  .montserrat-thin {
      font-family: "Montserrat", sans-serif;
      font-weight: 100;
      font-style: normal;
  }
  
  .montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-black {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .montserrat-thin-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .montserrat-light-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .montserrat-regular-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .montserrat-medium-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .montserrat-bold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .montserrat-black-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
  }


  /* Tipografía 2  */
.passion-one-regular {
  font-family: "Passion One", serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", serif;
  font-weight: 900;
  font-style: normal;
}
}
 
h2{
  font-family: "Montserrat", serif;
  font-weight: 900;
}


/*-----------------------------------*\
#HEADER
\*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  }

  body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(14, 14, 14);
  }

  body, html {
    overflow-x: hidden;
  }
  
  .navbar {
  width: 100%;
  display: flex;
  flex-direction: column; 
  border-bottom: 1px solid #000000;
  }
  
  .top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #ddd;
  }
  
  .social-icons{
  display: flex;
  }
  
  .social-icons a {
  margin-right: 10px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  }
  
  .shipping-info {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-align: center; 
  width: 100%;
  z-index: 1;
  }
      
  .main-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }


/*-----------------------------------*\
#LOGO BLANCO
\*-----------------------------------*/
#logoblanco {
  width: 125px;
  height: auto;
  margin-left: 20px;
}


/*-----------------------------------*\
#Menú de navegación
\*-----------------------------------*/
.my-navbar-color {
	background-color:rgb(0, 0, 0);
 }
 
 .nav-link {
	color:#ffffff;
 }
 
 .navbar-brand {
	 color:#ffffff;
 }
 
 .btn-reserva {
	 padding: 1rem 2rem;
	 text-decoration: none;
	 text-transform: uppercase;
	 border-radius: 5px;
	 position: relative;
	 display: inline-block !important;
	 line-height: 1;
 }
 
.unete-bg {
  background-color: #cc0000 !important;
  color: white !important;
  border: none;
}

.unete-bg:hover {
  background-color: #620000 !important;
  color: white !important;
}


/* COSMOPOLITAN */
.cosmopolitan {
  height: 100vh;
  color: white;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 3.5em;
}

.cosmopolitan-container h2 {
  font-family: "Passion One", serif;
  font-weight: 700;
  font-size: 112px;
}

.cosmopolitan-container {
  position: relative;
  text-align: center;
}

.cosmopolitan-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -63%);
  z-index: 2;
  width: 30%;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.3));
}

.cosmopolitan-container h2 {
  position: relative;
  z-index: 1;
  margin: 0;
}

.image-container {
  width: 200px; 
  height: 150px;
  overflow: hidden !important;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  overflow: hidden !important;
}

#descripcion {
  width: 100%;
}

.border-container {
  width: 100%;
  max-width: 100%; 
  border-left: 3px solid #fff; 
  border-right: 3px solid #fff; 
  padding: 20px; 
  box-sizing: border-box;
}

.text-white {
  color: white;
  max-width: 80%; 
  text-align: center; 
}

.fs-6 {
  font-size: 1rem; 
}

.fs-md-3 {
  font-size: 1.25rem; 
}

.row .col-12 .fs-6 {
  font-size: 1.5em !important;
}

.compra {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(21, 21, 21); 
  color: #fff; 
  border: 2px solid #fff; 
  padding: 10px 20px; 
  font-size: 1.5em; 
  text-transform: uppercase; 
  transition: all 0.3s ease; 
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background-color: #fff; 
  color: #000; 
  border: 1px solid #000; 
}

.zoom-img {
  transition: transform 0.3s ease-in-out; 
  object-fit: cover; 
  width: 100%; 
}

.zoom-img:hover {
  transform: scale(1.1); 
}

/*CARDS */
.my-5 {
  margin-top: 6rem !important;
}

.container-fluid {
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}

.card-img-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-radius: none;
}

.card-title {
  font-family: "Passion One", serif;
  font-size: 3em;
}


.zoom-img {
  opacity: 0;
  transform: translateY(50px); 
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/*TEXTO MOTIVADOR */
.text-motivador {
  color:#ffffff;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 3em;
  PADDING: 3em;
}

.text-motivador-container h2 {
  line-height: 0.8;
}

.FRASE1 {
  font-size: 3.5em;
  font-weight: 700;
  font-family: "Passion One", serif;
}

/*TEXTO ANIMADO */
.running-line-wrapper {
  margin-bottom: 4em;
  overflow: hidden;
  padding: 40px 0; 
}

.running-line {
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap; 
  animation: run 15s linear infinite; 
  font-weight: bold;
}

span {
  font-family: "Passion One", serif;
}

@keyframes run {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

/* RECETA */
#biografia {
  margin-bottom: 8em;
}

.cosmopolitan-recipe h3 {
  font-size: 1rem;
}

.cosmopolitan-recipe ol {
  font-size: 0.75em;
  margin-top: 5%;
  margin-right: 5em;
  text-align: justify;
}

.cosmopolitan-recipe p {
  font-size: 1em;
}

.bio-bg2 {
  position: relative;
  height: 100vh;
}

.bio-bg2 h2 {
  font-family: "Passion One", serif;
  top: 40%;
  left: 50%;
  color: #ffffff;
  z-index: 10;
  font-weight: 700;
  text-align: center;
  line-height: 0.8;
  margin-top: 60%;
  font-size: 3em;
}


.bg-light2 {

  padding-top: 8%;
}

.bio-bg2 p {
  margin-top: 2em;
  margin-right: 5em;
  text-align: justify;
}

.responsive-heading2 {
  font-size: 2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .cosmopolitan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px; 
    position: relative;
    top: 20px; 
    margin-top: 20px; 
  }
  
  }
  .text-white {
    max-width: 100%; 
  }

  .cosmopolitan-recipe h3 {
    font-size: 1rem;
  }

  .cosmopolitan-recipe ol {
    margin-right: 1em;
    font-size: 0.75rem; 
  }

  .cosmopolitan-recipe p {
    font-size: 1rem;
  }
  .bg-light2 img {
    max-width: 100%;  
    height: auto;
  }
  
  .container-fluid2 {
    flex-direction: column;
    justify-content: center;
  }

@media (max-width: 480px) {

  .cosmopolitan-container {
    font-size: 1em;
    margin-right: 3em;
    
  }

  .bio-bg2 h2 {
    font-size: 3rem; 
  }

  .cosmopolitan-recipe h3 {
    font-size: 1.5rem;
  }

  .bg-light2 img {
    max-width: 100%; 
    height: auto;
  }
}

#marquee-section {
  background-color: #000000; 
  overflow: hidden;
  position: relative;
  height: 100px; 
  color: white;
}

.marquee {
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%; 
}

@keyframes marquee {
  from {
      transform: translate(0, 0);
  }
  to {
      transform: translate(-100%, 0);
  }
}

/*TEXTO MOTIVADOR */
.text-motivador {
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 3em;
}

.FRASE1 {
  font-size: 6vw; 
  font-family: "Passion One", serif;

}

.bg-light {
  background-color: rgb(21, 21, 21) !important;
}

@keyframes typing {
  from {
      width: 0;
  }
  to {
      width: 100%;
  }
}

@keyframes blinkCaret {
  50% {
      border-color: transparent;
  }
}

@media (max-width: 767px) {
  .FRASE1 {
    font-size: 8vw; 
  }

  .text-motivador {
    padding: 1.5em; 
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .FRASE1 {
    font-size: 5vw; 
  }
}

/*-----------------------------------*\
#FOOTER
\*-----------------------------------*/
.footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
  display: inline-block;
  vertical-align: top;
  }
  
  /* footer izq*/
  .footer .footer-left {
  width: 33%;
  padding-right: 15px;
  }
  
  .footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  }
  
  .footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  }
  
  .footer .icons {
  margin-top: 25px;
  }
  
  .footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #333333;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  }
  
  /* footer medio*/
  .footer .footer-center {
    width: 30%;
    }
    
    .footer .footer-center i {
    background-color: #333333;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
    }
    
    .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
    }
    
    .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    font-weight: 400;
    width: 80%;
    }
    
    .footer .footer-center p span {
    font-family: "Montserrat", sans-serif;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    }
    
    .footer .footer-center p a {
    color:  #cc0000;
    text-decoration: none;
    }
    
    /* footer drch*/
    .footer .footer-right {
    width: 35%;
    }
    
    .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
    }
    
    .footer h2 span {
    color:  #cc0000;
    font-family: "Montserrat", sans-serif;
    }
    
    .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
    font-weight: 400;
    }
    
    .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    }
    
    .footer .menu a:hover {
    color:  #cc0000;
    }
    
    .footer .name {
    color:  #cc0000;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    }
      
/* ----------- RESPONSIVE DESIGN ----------- */
  
  /* Ajustes para tablet (menos de 768px de ancho) */
  @media (max-width: 768px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }

    .titulo{
      margin-top: 4em;
      text-align: center;
  }

  .btn-reserva{
    padding: 0.5rem 1rem;
}

.cosmopolitan-container h2 {
  font-size: 2em;
}

.cosmopolitan-container {
margin-top: 8em;
}

.btn {
font-size: 1em;
}

.running-line {
font-size: 8vw;
}

.running-line-wrapper {
margin-bottom: 1em;
}

.bio-bg2 h2 {
margin-top: 0em;
}

.cosmopolitan-recipe h3 {
font-size: 1rem;
}

.bio-bg2 p {
margin-right: 0.1em;

}

#biografia {
  margin-bottom: 0em; 
}

.py-5 {
  padding-top: 0rem !important;
}
}

  /* Ajustes para tablet (menos de 980px de ancho) */
  @media (max-width: 980px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }

    .titulo{
      margin-top: 4em;
      text-align: center;
  }

  .btn-reserva{
    padding: 0.5rem 1rem;
}


.cosmopolitan {
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  margin-right: 3em;
}

.cosmopolitan-container {
  text-align: center;
  margin-bottom: 20px; 
  position: relative;
  margin-top: 7em;
}

.image-container {
  width: 20%; 
  height: auto; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  overflow: hidden;
}

.cosmopolitan-container h2 {
  font-size: 2em;
}

.btn {
font-size: 1em;
}

.running-line {
font-size: 8vw;
}

.running-line-wrapper {
margin-bottom: 1em;
}

.bio-bg2 h2 {
margin-top: 6.5em;
}

.cosmopolitan-recipe h3 {
font-size: 1rem;
}

.bio-bg2 p {
margin-right: 0.1em;

}
}

/* Ajustes para móviles (menos de 480px de ancho) */
@media (max-width: 480px) {
  .cosmopolitan-container h2 {
    font-size: 1em;
}

.cosmopolitan {
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center; 
  margin-right: 0px;
}

.cosmopolitan-container {
  text-align: center;
  margin-bottom: 20px; 
  position: relative;
  margin-top: 10em;
}

.image-container {
  width: 20%; 
  height: auto; 
  margin-top: 20px; 
  margin-bottom: 20px; 
  overflow: hidden;
}

.btn {
  font-size: 1em;
}

.running-line {
  font-size: 8vw;
}

.running-line-wrapper {
  margin-bottom: 1em;
}

.bio-bg2 h2 {
  margin-top: 4em;
}

.cosmopolitan-recipe h3 {
  font-size: 1rem;
}

.bio-bg2 p {
  margin-right: 0.1em;

}

.mb-4 {
  margin-top: 7rem;
}

}