
:root {

  /*-----------------------------------*\
    #COLORES
  \*-----------------------------------*/
  --GRIS: #000000;
  --BLANCO: #ffffff;
  --ROJO1: #cc0000;
  --ROJO2: #620000;

  /*-----------------------------------*\
    #TIPOGRAFÍAS
  \*-----------------------------------*/

  background-color: rgb(21, 21, 21);

  /* Tipografía 1  */

  .montserrat-thin {
      font-family: "Montserrat", sans-serif;
      font-weight: 100;
      font-style: normal;
  }
  
  .montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-black {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .montserrat-thin-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .montserrat-light-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .montserrat-regular-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .montserrat-medium-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .montserrat-bold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .montserrat-black-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
  }


  /* Tipografía 2  */
  .m-plus-rounded-1c-regular {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .m-plus-rounded-1c-extrabold {
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  }
  

h2{
  font-family: "Montserrat", serif;
  font-weight: 900;
}
/*-----------------------------------*\
#HEADER
\*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  }
  
  body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(14, 14, 14);
  }
  
  .navbar {
  width: 100%;
  display: flex;
  flex-direction: column; 
  border-bottom: 1px solid #000000;
  }
  
  .top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #ddd;
  }
  
  .social-icons{
  display: flex;
  }
  
  .social-icons a {
  margin-right: 10px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  }
  
  .shipping-info {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-align: center; 
  width: 100%;
  z-index: 1;
  }
      
  .main-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }
  

/*-----------------------------------*\
#LOGO BLANCO
\*-----------------------------------*/


#logoblanco {
  width: 125px;
  height: auto;
  margin-left: 20px;
}




/*-----------------------------------*\
#Menú de navegación
\*-----------------------------------*/
.my-navbar-color {
	background-color:rgb(0, 0, 0);
 }
 
 .nav-link {
	color:#ffffff;
 }
 
 .navbar-brand {
	 color:#ffffff;
 }
 
 .btn-group {
	 margin: 2rem 0;
	 display: block !important;
 }
 
 
 .btn {
	 padding: 1rem 2rem;
	 text-decoration: none;
	 text-transform: uppercase;
	 border-radius: 5px;
	 position: relative;
	 display: inline-block !important;
	 line-height: 1;
 }
 
 .btn + .btn {
	 margin-left: 1rem;
 }
 
 .btn-secondary {
	 background: var(--foreground);
	 color: var(--background);
 }
 
 .btn-accent {
	 background: var(--clr-accent);
	 color: var(--foreground);
 }
 
 .btn::after {
	 content: "";
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 border: var(--foreground) 2px solid;
	 left: 0;
	 top: 0;
	 border-radius: inherit;
	 z-index: -1;
 }
 

.reserva-bg {
    background-color: #ffffff !important;
    font-family: "Anton", sans-serif;
   
}



.cosmopolitan {
  height: 100vh;
  color:white;
  font-size: 3em;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} 

#descripcion {
  width: 100%;
}


.border-container {
  width: 100%;
  max-width: 100%; 
  border-left: 3px solid #fff; 
  border-right: 3px solid #fff; 
  padding: 20px; 
  box-sizing: border-box;
}

.text-white {
  color: white;
  max-width: 80%; 
  text-align: center; 
}

.fs-6 {
  font-size: 1rem; 
}

.fs-md-3 {
  font-size: 1.25rem; 
}

.compra {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: rgb(21, 21, 21); 
  color: #fff; 
  border: 2px solid #fff; 
  padding: 10px 20px; 
  font-size: 1rem; 
  text-transform: uppercase; 
  transition: all 0.3s ease; 
  font-family: "Montserrat", sans-serif;
}

.btn:hover {
  background-color: #fff; 
  color: #000; 
  border: 1px solid #000; 
}

.zoom-img {
  transition: transform 0.3s ease-in-out; 
  object-fit: cover; 
  width: 100%; 
}

/* Efecto al hacer hover */
.zoom-img:hover {
  transform: scale(1.1); 
}

/*CARDS */
.container-fluid {
  width:100%;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border: none; 
}

.card-img-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center; 
  border-radius: none;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
}

/*TEXTO MOTIVADOR */
.text-motivador {
  color:#ffffff;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 3em;
  PADDING: 3em;
}
.FRASE1 {
  font-size: 2.5em;
}
.FRASE2{
  font-size: 3.75em;
}
.FRASE3{
  font-size: 2em;
}

.bg-light{
  background-color: rgb(21, 21, 21)!important;;
  
}

/*TEXTO ANIMADO */
.running-line-wrapper {
  margin: 4em;
  overflow: hidden;
  padding: 40px 0; 
}


.running-line {
  font-size: 80px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap; 
  animation: run 15s linear infinite; 
  font-weight: bold;
}


@keyframes run {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

/* BIOGRAFÍA */
.bio-bg {
  position: relative;
  height: 80vh; 
}

.bio-bg h2 {
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, 10%); 
  color: #ffffff;
  font-size: 7rem; 
  z-index: 10;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgba;
  }

p {
 margin-top: 4em;
}

.responsive-heading {
  font-size: 2rem; 
}

.container-fluid {
  position: relative;
}

.col-12.col-md-6.bg-light {
  position: relative;
}

#marquee-section {
  background-color: #000000; 
  overflow: hidden;
  position: relative;
  height: 100px; 
  color: white;
}

.marquee {
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%; 
}

@keyframes marquee {
  from {
      transform: translate(0, 0);
  }
  to {
      transform: translate(-100%, 0);
  }
}




/*-----------------------------------*\
#FOOTER
\*-----------------------------------*/
.footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
  display: inline-block;
  vertical-align: top;
  }
  
  /* footer izq*/
  .footer .footer-left {
  width: 33%;
  padding-right: 15px;
  }
  
  .footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  }
  
  .footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  }
  
  .footer .icons {
  margin-top: 25px;
  }
  
  .footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #333333;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  }
  
  /* footer medio*/
  .footer .footer-center {
  width: 30%;
  }
  
  .footer .footer-center i {
  background-color: #333333;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
  }
  
  .footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  font-weight: 400;
  }
  
  .footer .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  }
  
  .footer .footer-center p a {
  color:  #FF3D00;
  text-decoration: none;
  }
  
  /* footer drch*/
  .footer .footer-right {
  width: 35%;
  }
  
  .footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer h2 span {
  color:  #FF3D00;
  }
  
  .footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  font-weight: 400;
  }
  
  .footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  }
  
  .footer .menu a:hover {
  color:  #cc0000;
  }
  
  .footer .name {
  color:  #cc0000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  }
    
    @media (max-width: 767px) {
      .footer {
        font-size: 14px;
      }
      .footer .footer-left,
      .footer .footer-center,
      .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
      }
      .footer .footer-center i {
        margin-left: 0;
      }
    }