
:root {

  /*-----------------------------------*\
    #COLORES
  \*-----------------------------------*/
  --GRIS: #000000;
  --BLANCO: #ffffff;
  --ROJO1: #cc0000;
  --ROJO2: #620000;

  /*-----------------------------------*\
    #TIPOGRAFÍAS
  \*-----------------------------------*/

background-color: #000000;

  /* Tipografía 1  */

  .montserrat-thin {
      font-family: "Montserrat", sans-serif;
      font-weight: 100;
      font-style: normal;
  }
  
  .montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .montserrat-black {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .montserrat-thin-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .montserrat-light-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .montserrat-regular-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .montserrat-medium-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .montserrat-bold-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .montserrat-black-italic {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-style: italic;
  }


/* Tipografía 2  */
.passion-one-regular {
  font-family: "Passion One", serif;
  font-weight: 400;
  font-style: normal;
}

.passion-one-bold {
  font-family: "Passion One", serif;
  font-weight: 700;
  font-style: normal;
}

.passion-one-black {
  font-family: "Passion One", serif;
  font-weight: 900;
  font-style: normal;
}

  }
  
/*-----------------------------------*\
#HEADER
\*-----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  }

  body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(14, 14, 14);
  }
  
  .navbar {
  width: 100%;
  display: flex;
  flex-direction: column; 
  border-bottom: 1px solid #000000;
  }
  
  .top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid #ddd;
  }
  
  .social-icons{
  display: flex;
  }
  
  .social-icons a {
  margin-right: 10px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  }
  
  .shipping-info {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  text-align: center; 
  width: 100%;
  z-index: 1;
  }
      
  .main-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        background-color: #fff;
        border-bottom: 1px solid #ddd;
    }
  
/*-----------------------------------*\
#LOGO BLANCO
\*-----------------------------------*/
#logoblanco {
  width: 125px;
  height: auto;
  margin-left: 20px;
}

/*-----------------------------------*\
#Menú de navegación
\*-----------------------------------*/
.my-navbar-color {
	background-color:rgb(0, 0, 0);
 }
 
 .nav-link {
	color:#ffffff;
 }
 
 .navbar-brand {
	 color:#ffffff;
 }
 
 .btn {
	 padding: 1rem 2rem;
	 text-decoration: none;
	 text-transform: uppercase;
	 border-radius: 5px;
	 position: relative;
	 display: inline-block !important;
	 line-height: 1;
 }
 
.unete-bg {
  background-color: #cc0000 !important;
  color: white !important;
  border: none;
}

.unete-bg:hover {
  background-color: #620000 !important;
  color: white !important;
}

/*-----------------------------------*\
#VÍDEO HOME
\*-----------------------------------*/
.homevideo {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #cc0000;
  }

  .homevideo:before {
      z-index: 777;
      content: '';
      position: absolute;
      
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
  }

  .homevideo .content {
      z-index: 888;
      color: white;
      width: 70%;
      margin-top: 50px;
      margin-left: 8em;
  }

  .homevideo .content h1 {
      font-size: 4em;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 5px;
      line-height: 75px;
      margin-bottom: 40px;
  }

  .homevideo .content h1 span {
      font-size: 1.2em;
      font-weight: 600;
  }

  .homevideo .content p {
      margin-bottom: 65px;
  }

  .homevideo .content a{
      background: white;
      padding: 15px 35px;
      color: #cc0000;
      font-size: 1.1em;
      font-weight: 500;
      text-decoration: none;
      border-radius: 2px;
  }

  .homevideo .media-icons{
      z-index: 888;
      position: absolute;
      right: 30px;
      display: flex;
      flex-direction: column;
      transition: 0.5 ease;
  }

  .homevideo .media-icons a{
      color: white;
      font-size: 1.6em;
      transition: 0.3s ease;
  }

  .homevideo .media-icons a:not(:last-child){
      margin-bottom: 20px;
  }

  .homevideo .media-icons a:hover{
      transform: scale(1.3);
     
  }

  .homevideo video {
      z-index: 000;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

/*-----------------------------------*\
#DESCRIPCIÓN LYNN LOUNGE
\*-----------------------------------*/
.responsive-heading {
  font-family: "Passion One", serif;
  font-size: 112px;
  font-weight: 700;
  text-align: center;
  line-height: 0.8;
  margin-top: -70%;
  margin-bottom: 5%;
  margin-left: 2.1em;
}

.fs-6 {
  text-align: justify;
  font-size: 16px !important;
}

.bio-bg {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start; 
  gap: 2rem; 
}

#coctel-img {
  align-self: flex-start; 
  max-width: 80%; 
  height: auto; 
  margin-bottom: -80%;
  margin-left: 4%;
}

/*-----------------------------------*\
#FRASE SEPARADOR
\*-----------------------------------*/
.text-motivador {
  color:#ffffff;
  justify-content: center;
  display: flex;
  text-align: center;
  font-size: 1.7em;
  PADDING: 3em;
}

.text-motivador-container h2 {
  line-height: 0.8;
}

.FRASE1 {
  font-size: 3.5em;
  font-weight: 700;
  font-family: "Passion One", serif;
}
.FRASE2{
  font-size: 4.5em;
  font-weight: 700;
  font-family: "Passion One", serif;
}
.FRASE3{
  font-size: 3.5em;
  font-weight: 700;
  font-family: "Passion One", serif;
}

.FRASE4{
  font-size: 4.5em;
  font-weight: 700;
  font-family: "Passion One", serif;
}

.bg-light{
  background-color: rgb(21, 21, 21)!important;;
  
}

/*-----------------------------------*\
#DOBLE FOTO
\*-----------------------------------*/
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-overlay2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5em;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  font-family: "Passion One", serif;
  text-align: center;
  line-height: 5;
  
}

.image-container {
  position: relative;
  width: 100%;
}

.image-container img {
  width: 50%; 
  height: auto;
  float: left; 
}

.text-overlay2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 8em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
}

/*-----------------------------------*\
#EVENTOS
\*-----------------------------------*/
.bio-bg2 {
  position: relative;
  height: 90vh;
}

.bio-bg2 h2 {
  font-family: "Passion One", serif;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, 10%); 
  color: #ffffff;
  font-size: 112px; 
  z-index: 10;
  font-weight: 700;
  text-align: center;
  line-height: 0.8;
  margin-top: 50%;
}
.bg-light2 {
  --bs-bg-opacity: 1;
  background-color: rgba;
  padding-top: 8%;
  }

.bio-bg2 p {
 margin-top: 5em;
 margin-right: 4em;
}

.responsive-heading2 {
  font-size: 2rem; 
}

.container-fluid2 {
  position: relative;
}

.col-12.col-md-6.bg-light2 {
  position: relative;
}

#marquee-section {
  background-color: #000000; 
  overflow: hidden;
  position: relative;
  height: 100px; 
  color: white;
}

.marquee {
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.marquee-text {
  display: inline-block;
  padding-left: 100%; 
}

@keyframes marquee {
  from {
      transform: translate(0, 0);
  }
  to {
      transform: translate(-100%, 0);
  }
}


/*-----------------------------------*\
#CARROUSEL
\*-----------------------------------*/
.custom-card {
  height: 600px; 
  width: 100%; 
  overflow: hidden; 
  margin-top: 30%;
}

.custom-card .card-img {
  height: 100%; 
  object-fit: cover; 
}

.custom-card .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  background: rgba(0, 0, 0, 0.5); 
  color: white; 
}

.custom-card .card-img-overlay h5 {
  font-family: "Passion One", serif;
  font-size: 3em;
  text-align: center;
}

.row > .col-md-4 {
  margin-bottom: 15px;
}

/*-----------------------------------*\
GALERÍA
\*-----------------------------------*/


.lightbox-content img {
  max-width: 500px;  
  max-height: 800px; 
  width: auto; 
  height: auto; 
  margin: 0 auto; 
  display: block; 
}

.carousel-caption {
  background: transparent !important; 
}

.responsive-heading2 {
  font-family: "Passion One", serif;
  font-size: 112px;
  font-weight: 700;
  text-align: center;
  line-height: 0.8;
  margin-top: 7%;
  margin-bottom: 4%;
  color: white;
}

/*-----------------------------------*\
#BARRA CON TEXTO
\*-----------------------------------*/
.running-line-wrapper {
  margin: 4em;
  overflow: hidden;
  padding: 40px 0;
  font-family: "Passion One", serif; 
}

.running-line {
  font-size: 80px;
  font-family: "Passion One", serif;
  text-transform: uppercase;
  color: #ffffff;
  white-space: nowrap; 
  animation: run 15s linear infinite; 
  font-weight: bold;
}

span {
  font-family: "Passion One", serif;
}


@keyframes run {
  0% {
    transform: translateX(0); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

/*-----------------------------------*\
#VIDEO2
\*-----------------------------------*/
.event-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh; 
  padding: 20px;
}

.event-text {
  max-width: 50%; 
}

.event-image img {
  width: 100%;
  height: auto;
}

/*-----------------------------------*\
#FOOTER
\*-----------------------------------*/
.footer {
  background-color: rgb(0, 0, 0);
  width: 100%;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 50px;
  margin-top: 50px;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
  display: inline-block;
  vertical-align: top;
  }
  
  /* footer izq*/
  .footer .footer-left {
  width: 33%;
  padding-right: 15px;
  }
  
  .footer .about {
  line-height: 20px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  }
  
  .footer .about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
  }
  
  .footer .icons {
  margin-top: 25px;
  }
  
  .footer .icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #333333;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  }
  
  /* footer medio*/
  .footer .footer-center {
  width: 30%;
  }
  
  .footer .footer-center i {
  background-color: #333333;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
  }
  
  .footer .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
  font-weight: 400;
  width: 80%;
  }
  
  .footer .footer-center p span {
  font-family: "Montserrat", sans-serif;
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
  }
  
  .footer .footer-center p a {
  color:  #cc0000;
  text-decoration: none;
  }
  
  /* footer drch*/
  .footer .footer-right {
  width: 35%;
  }
  
  .footer h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer h2 span {
  color:  #cc0000;
  font-family: "Montserrat", sans-serif;
  }
  
  .footer .menu {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  font-weight: 400;
  }
  
  .footer .menu a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  }
  
  .footer .menu a:hover {
  color:  #cc0000;
  }
  
  .footer .name {
  color:  #cc0000;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  }
 
    /* ----------- RESPONSIVE DESIGN ----------- */
  
  /* Ajustes para tablet (menos de 980px de ancho) */
  @media (max-width: 980px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }

    

.text-motivador {
    font-size: 0.5em;
  }
  
  .bio-bg2 h2 {
    margin-left: 6.4em;    
    font-size: 50px;
    margin-top: -5em;    
}

.text-overlay2 {
  font-size: 2.5em;
}

.bio-bg2 p {
  margin-right: 0.1em;
  margin-top: 0em;
}


.row > .col-md-4 {
  margin-top: -30em;
}

.responsive-heading2 {
  font-size: 3em;

}

#coctel-img {
  margin-bottom: 1em;
}

.responsive-heading {
  font-size: 5em;
  margin-top: 0.2em;
  margin-left: 2.1em;}

.col-md-6 {
  width: 100%; 
}

.bg-light2 img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}
}

/* Ajustes para móviles (menos de 480px de ancho) */
@media (max-width: 480px) {
  .text-motivador {
    font-size: 0.5em;
    margin-top: 37em;
  }
  
  .bio-bg2 h2 {
    margin-left: 2.9em;
    font-size: 4em;
    margin-top: 0;
}

.text-overlay2 {
  font-size: 2.5em;
}

.bio-bg2 p {
  margin-right: 0.1em;
}

.row > .col-md-4 {
  margin-top: -14em;
}

.responsive-heading2 {
  font-size: 4em;

}

.responsive-heading {
  font-size: 5em;
  margin-top: 0.2em;
  margin-left: 65px;
}

#coctel-img {
  margin-bottom: -18em;
}

.col-md-6 {
  width: 100%; 
}

.bg-light2 img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
}
}